site_name: rdsl
repo_url: https://github.com/finlayiainmaclean/rdsl
site_url: https://finlayiainmaclean.github.io/rdsl
site_description: This is a template repository for Python projects that use uv for their dependency management.
site_author: Finlay MacLean
edit_uri: edit/main/docs/
repo_name: finlayiainmaclean/rdsl
copyright: Maintained by <a href="https://finlayiainmaclean.com">finlayiainmaclean</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src/rdsl"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/finlayiainmaclean/rdsl
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/rdsl

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
